

.main-div mat-card{
    padding:0px;
}
.login-div{
    padding: 20px;
} 
button{
    margin-bottom: 2rem;
}


/* .login-wrapper{
    margin: 10rem auto;
    width:20rem;
}
input{
    margin-bottom: 2rem;
}

 */
